@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff");
  }
body{
    margin: 0;
    background: #FAF7F6;
}
h1{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
}
h3{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
}